form {
  width: 100vw;
  text-align: center;
  padding: 20px;
  input {
    width: 80%;
    border-radius: 10px;
    padding: 16px 10px;
    outline: none;
    font-size: 20px;
    border: none;
    &::placeholder {
      color: #333;
    }
  }
}
